
    /* Estilização inicial */
*{
    box-sizing: border-box;
    margin: 0;
}
    /*   Paleta de Cores
        Blue: #63d3ff
        White: #ffffff
        Black: #23192d
    */
html{
    background-color: #63d3ff;
}s

    /* Estilização do header e Menu */

.cabebalho, .Menu, .contentPrincipe, .rodape{
    border: 1px solid red;
    margin: 5px;
}

.Menu{
    display: flex;
    justify-content: center;
}

.Menu > a{
    margin: 0.2em;
}
    /* Estilização do Main */
.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix{
    border: 1px solid green;
}

.contentPrincipe{
    display: grid;
    padding: 0.3em;
    gap: 0.5em 0.5em;
    grid-template-areas: 
    "1 2 3"
    "auto auto auto";
    color: #23192d;
}

    /* Estilização das seções */

.cabecalhoSection, .contentSection, .contentRodape{
    border: 1px solid yellow;
}

.contentPrincipe > section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.contentPrincipe>section>article>img{
    width: 480px;
}

.sectionOne{
    grid: "one";
    justify-content: space-between;
}

.sectionOne > .cabecalhoSection{
    height: 20%;
}

.sectionOne > .contentRodape {
    height: 10%;
}

.sectionOne > .contentSection{
    height: 100%;
}

.sectionTwo{
    grid: "two";
}

.contentPrincipe > .sectionFour{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
}

.sectionFour>div{
    margin: 0.1em;
}

.contentPrincipe>.sectionFive{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
}

.contentPrincipe>.sectionSix{
    grid-column-start: 1;
    grid-column-end: 4;
    gap: 0.1em 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.sectionSix> .sugestionAntonio, .sugestionLavinia, .sugestionVictoria, .sugestionEnrique, .sugestionLucas{
    border: 1px solid orange;
    margin: 0.01em;
    width: 20%;
}