@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* Estilização inicial */
*{
    box-sizing: border-box;
    margin: 0;
}
    /*   Paleta de Cores
        Blue: #63d3ff
        White: #ffffff
        Black: #23192d
    */
html{
    background-color: #63d3ff;
    font-family: Inter;
}s

    /* Estilização do header e Menu */

.cabebalho, .Menu, .contentPrincipe, .rodape{
    border: 1px solid red;
    margin: 5px;
}

.Menu{
    display: flex;
    justify-content: center;
}

.Menu > a{
    margin: 0.2em;
}
    /* Estilização do Main */
.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix{
    border: 1px solid green;
}

.contentPrincipe{
    display: grid;
    padding: 0.3em;
    gap: 0.5em 0.5em;
    grid-template-areas: 
    "1 2 3"
    "auto auto auto";
    color: #23192d;
    justify-items: center;
}

    /* Estilização das seções */

.cabecalhoSection, .contentSection, .contentRodape{
    border: 1px solid red;
}

.contentPrincipe > section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.contentPrincipe>section>.cabecalhoSection{
    text-transform: uppercase;
    text-align: center;
}

.contentPrincipe>section>div>.cabecalhoSection{
    text-transform: uppercase;
    text-align: center;
}

.contentPrincipe>section>article>img{
    width: 480px;
    display: block;
    margin: auto;
}

.sectionOne{
    grid: "one";
    justify-content: space-between;
    width: 36.8em;
}

.sectionOne > .cabecalhoSection{
    height: 20%;
}

.sectionOne > .contentRodape {
    height: 10%;
}

.sectionOne > .contentSection{
    height: 100%;
}

.sectionTwo{
    grid: "two";
    width: 36.8em;
}

.sectionTwo > .cabecalhoSection{
    height: 20%;
}

.sectionTwo > .contentRodape {
    height: 10%;
}

.sectionTwo > .contentSection{
    height: 100%;
}

.sectionThree{
    width: 36.8em;
}

.sectionThree > .cabecalhoSection{
    height: 20%;
}

.sectionThree > .contentRodape {
    height: 10%;
}

.sectionThree > .contentSection{
    height: 100%;
}

.contentPrincipe > .sectionFour{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;

}

.sectionFour>div{
    padding: 0.1em;
}

.sectionFour>div>.cabecalhoSection{
    height: 15%;
}

.sectionFour>div>.contentSection{
    height: 75%;
}

.sectionFour>div>.contentRodape{
    height: 10%;
}

.contentPrincipe>.sectionFive{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
}

.contentPrincipe>.sectionSix{
    grid-column-start: 1;
    grid-column-end: 4;
    gap: 0.1em 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.sectionSix> .sugestionAntonio{
    border: 1px solid orange;
    margin: 0.01em;
}

.rodape{
     margin: 0 auto;
        background-color: rgb(4, 40, 107);
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    
}    
